/* 1. Estilos Globales y Header (Efecto Parallax) */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}
.header {
    height: 100vh; /* Altura total del bloque de imagen */
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('imgs/header.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente el texto en el espacio disponible */
    align-items: flex-start; /* Alinea a la izquierda */
    
    padding-left: 7%;
    color: rgb(247, 241, 241);
}

.header-title {
    font-size: 6.4rem;
    font-weight: bold;
    margin-top: 180px;
    margin-bottom: 0;
    line-height: 1;               /* Ajusta el espacio entre líneas */
    text-shadow: 2px 2px 10px rgba(0,0,0,0.5); /* Sombra para legibilidad */
}
.header-title {
    display: flex; /* Para que los spans se alineen correctamente */
    flex-wrap: wrap;
}

.header-title span {
    display: inline-block;
    opacity: 0; /* Empiezan invisibles */
    animation: entradaLetra 0.5s ease-out forwards;
}

/* Retraso para cada letra (puedes añadir más si tu nombre es más largo) */
.header-title span:nth-child(1) { animation-delay: 0.1s; }
.header-title span:nth-child(2) { animation-delay: 0.2s; }
.header-title span:nth-child(3) { animation-delay: 0.3s; }
.header-title span:nth-child(4) { animation-delay: 0.4s; }
.header-title span:nth-child(5) { animation-delay: 0.5s; }
.header-title span:nth-child(6) { animation-delay: 0.5s; }
.header-title span:nth-child(7) { animation-delay: 0.6s; } /* Espacio */
.header-title span:nth-child(8) { animation-delay: 0.6s; }
.header-title span:nth-child(9) { animation-delay: 0.6s; }
.header-title span:nth-child(10) { animation-delay: 0.7s; }
.header-title span:nth-child(11) { animation-delay: 0.7s; }
.header-title span:nth-child(12) { animation-delay: 0.8s; }
.header-title span:nth-child(13) { animation-delay: 0.8s; }



.header-mono {
    opacity: 0;               /* Invisible al inicio */
    /* Espera 2.2s (para que termine el título) y luego cae */
    animation: entradaSuave 1s ease-out 0.8s forwards;
    margin-top: -5px;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 5px;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.5); /* Sombra para legibilidad */     
}

/* 2. Iconos Sociales (El contenedor flotante arriba) */
.social-icons {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 30px;
    background: #f8f8fa;
    padding: 10px 25px;
    border-radius: 50px; /* Estilo pill/cápsula */
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    list-style: none;
    z-index: 1000;
}

.social-link {
    color: #333;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.social-link:hover {
    color: #ff6600; /* Ese tono naranja que te identifica */
}

.brand-title strong {
    font-weight: inherit;
    color: inherit; 
}

.brand-subtitle strong {
    font-weight: inherit;
    color: inherit; 
}


/* 3. Navbar y el Logo Central */
.navbar {
    background: #720211;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: sticky; /* Se pega al techo al scrolear */
    top: 0;
    z-index: 999;
}

.nav-container {
    width: 85%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Para que el logo absoluto se base en esto */
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 75px;
    width: 35%; /* Divide el espacio para dejar el centro libre */
}

.nav-menu:last-child {
    justify-content: flex-end;
}

.nav-link {
    text-decoration: none;
    color: #f8f8fa;
    font-weight: 600;
    text-transform: none;
    font-size: 1rem;
    padding: 10px 15px; /* Crea una zona de clic más amplia */
    transition: all 0.3s ease; /* Suaviza el cambio de color */
    position: relative;
}

.nav-link:hover {
    color: #FF6600; /* El naranja de tu marca */
    transform: translateY(-2px); /* Un pequeño salto hacia arriba */
}

.nav-link:active {
    color: #D65D08; /* Un naranja más profundo para simular presión */
    transform: translateY(0); /* Vuelve a su sitio al presionar */
}

/* El contenedor del Logo */
.brand {
    position: absolute;
    left: 50%;
    top: 0; /* Esto lo sitúa justo en la mitad horizontal de la navbar de 80px */
    transform: translateX(-50%); /* Centra el contenedor exactamente */
    z-index: 10;
    text-align: center;
    width: 150px; 
    height: 150px;
}

/* La imagen circular */
.brand-img {
    width: 150px; 
    height: 150px;
    border-radius: 50%;
    border: 10px solid #63020f; 
    background: #720211;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    position: absolute;
    top: 0;
    left: 0;
    /* Eliminamos position: relative y top: 0 que estaban estorbando */
    display: block; 
    margin-top: -65px;
    transition: opacity 0.6s ease-in-out, width 0.4s, height 0.4s, margin-top 0.4s;
}

.logo-avatar {
    opacity: 0;
}

.navbar-scrolled .brand-img {
    margin-top: -65px; /* Mitad de 100: Mantiene la simetría perfecta */
}

/* --- CLASE QUE APLICAREMOS CON JS --- */
.navbar-scrolled .logo-principal {
    opacity: 0; /* Desaparece suavemente */
}

.navbar-scrolled .logo-avatar {
    opacity: 1; /* Aparece suavemente */
}

/* --- ESTADO CUANDO LA NAVBAR TOCA EL TECHO --- */

.navbar-scrolled {
    /* Aquí eliges el color. Puede ser un gris muy oscuro o el naranja de tu marca */
    background-color: #f8f8fa !important; /* Cambia a un tono oscuro elegante */
    
    /* Añadimos una sombra más fuerte para que resalte sobre el contenido */
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
    
    transition: all 0.5s ease;
}

/* IMPORTANTE: Si cambias el fondo a oscuro, las letras deben pasar a blanco */
.navbar-scrolled .nav-link {
    color: #ff6600;
}

/* El hover en modo oscuro puede ser el naranja brillante */
.navbar-scrolled .nav-link:hover {
    color: #666;
}

.navbar-scrolled .brand-img {
    border-color: #f8f8fa; /* El mismo color que el fondo de la navbar para que se integre */
    background-color: #666; /* Podemos poner el fondo naranja para que resalte tu avatar */
    box-shadow: 0 4px 15px rgba(0,0,0,0.5); /* Una sombra más profunda */
}

/* Si quieres que el logo naranja (logo-avatar) se vea mejor sobre el fondo oscuro */
.navbar-scrolled .logo-avatar {
    /* Aquí podrías añadir un filtro si fuera necesario, 
       pero al ser un cambio de imagen suave (fade), ya debería verse genial */
    filter: drop-shadow(0px 0px 5px rgba(255,255,255,0.2));
}

/* Ocultar texto del logo inicialmente */
.brand-txt {
    opacity: 0;
    transform: translateY(10px);
    transition: 0.5s;
}

/* Definimos la animación con Blur y movimiento */
@keyframes entradaLetra {
    from {
        opacity: 0;
        filter: blur(10px);
        transform: translateX(-20px); /* Viene desde la izquierda */
    }
    to {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }
}


/* Animación para el Subtítulo (Caída) */
@keyframes entradaSuave {
    from {
        opacity: 0;
        transform: translateY(-50px); /* Empieza 50px más arriba */
        filter: blur(5px);           /* Un toque de desenfoque para estilo */
    }
    to {
        opacity: 1;
        transform: translateY(0);    /* Termina en su posición original */
        filter: blur(0);
    }
}

.perfil-section {
    height: 100vh; /* Ajusta la altura que desees para esta sección */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(141, 139, 139, 0)), url('imgs/perfil.png');
    background-size: cover;
    background-position: center;
    
    /* EL TRUCO PARA QUE SE QUEDE ESTÁTICA: */
    background-attachment: fixed; 
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #f8f8fa;
    padding: 10%;
}

.perfil-content h2 {
    font-size: 2.4rem;
    text-transform: none;
    letter-spacing: 1px;
    margin-bottom: 40px;
    text-align: left;
    color:#72023a;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.4);
}

.perfil-content h2:hover {
    color:#f8f8fa;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.8), 0 0 20px rgba(255, 255, 255, 0.4);
}

.perfil-content p {
    font-size: 1.2rem;
    max-width: 400px;
    margin: 0 auto;
    font-weight: 300;
    text-align: left;
    line-height: 1.5;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.596), 0 0 20px rgba(255, 255, 255, 0.4);
    margin-bottom: 25px;
}

.marca {
    color: #ff8800; 
}

.verde {
    color: #02ff38; 
}

.negrilla {
    font-weight: 600 !important; 
}

.marca-negrilla {
    color: #ff6600; 
    font-weight: 600 !important; 
}

.link-ong {
    color: #0ab5f8; 
    text-decoration: none; 
    font-weight: 600;
    transition: all 0.3s ease;
    border-bottom: 1px solid #0ab5f8; 
}

.marca-bis {
    color: #72023a; 
    font-weight: 600 !important;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.4); 
}

.link-ong:hover {
    color: white; 
    border-bottom: 1px solid white; 
    background-color: rgba(248, 110, 10, 0.1); 
}

.ticker-wrapper {
    width: 100%;
    overflow: hidden;
    background-color: #72023a;
    padding: 10px 0;
    display: flex; /* Alinea los bloques uno tras otro */
    position: relative; /* Asegura que la sombra se vea por encima de lo que viene abajo */
    z-index: 5;         /* Le da prioridad visual */
    box-shadow: 0 5px 15px rgba(0,0,0,0.2); 

}

.ticker-scroll {
    display: flex;
    width: max-content; /* Se ajusta al largo total de los nombres */
    animation: scroll-infinito 50s linear infinite;
}

.ticker-item {
    display: flex;
}

.ticker-item span {
    font-size: 1.4rem;
    font-weight: 200; /* Letra delgada como querías */
    color: #f8f8fa;
    padding: 0 40px; /* Espacio constante entre nombres */
    letter-spacing: 2px;
    white-space: nowrap;
}

/* LA ANIMACIÓN CLAVE */
@keyframes scroll-infinito {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); /* Solo movemos la mitad, donde empieza el bloque duplicado */
    }
}

.acciones-section {
    position: relative;
    width: 100%;
    min-height: 100vh; /* Asegura que la sección ocupe toda la pantalla */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;

    /* CONFIGURACIÓN DEL FONDO PARALLAX */
    background-image: linear-gradient(rgba(0, 0, 0, 0.616), rgba(0, 0, 0, 0.219)), 
                      url('imgs/acciones.jpg'); 
    background-attachment: fixed; /* Esto es lo que lo deja estático */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    overflow: hidden; /* Evita que el carrusel rompa el diseño */
}

/* Posicionamos las flechas fuera del carrusel pero dentro de la sección */
.swiper-button-next, 
.swiper-button-prev {
    position: absolute;
    top: 50%; /* Centradas verticalmente */
    transform: translateY(-50%);
    z-index: 100; /* Siempre por encima de todo */
    color: #ff8800 !important; /* Tu naranja de marca */
}

.swiper-button-prev { 
    left: 16%; 
}

.swiper-button-next { 
    right: 16%; 
}


/* Ajuste para que el título no se pegue al carrusel */
.titulo-seccion {
    font-size: 2.4rem;
    text-transform: none;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-align: center;
    color:#ff8800;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.8), 0 0 20px rgba(29, 23, 23, 0.404);
}

.titulo-seccion:hover {
    color:#f8f8fa;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.8), 0 0 20px rgba(255, 255, 255, 0.4);
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px; /* Tamaño tipo celular para las tarjetas */
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Info que aparece sobre la foto */
.slide-info {
    position: absolute;
    bottom: 0;
    background: linear-gradient(transparent, rgba(0,0,0,0.9));
    color: #f8f8fa;
    padding: 20px;
    width: 100%;
    transition: opacity 0.4s ease, transform 0.4s ease;
    opacity: 1; /* Visible por defecto */
    transform: translateY(0);
}

.slide-info p {
    padding-right: 25px; /* Crea un "colchón" para que la letra no toque el borde */
    overflow: hidden;    /* Asegura que nada se salga del contenedor */
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Opcional: limita a 3 líneas para que no tape toda la foto */
    -webkit-box-orient: vertical;
}

.swiper-slide:hover .slide-info {
    opacity: 0; /* Desaparece */
    transform: translateY(20px); /* Un pequeño movimiento hacia abajo para dar elegancia */
    pointer-events: none; /* Evita que el texto interfiera con el mouse mientras desaparece */
}

.swiper-pagination {
    position: absolute;
    bottom: 80px !important; /* Prueba con 60px o 80px hasta que queden donde te guste */
    left: 50% !important;
    transform: translateX(-50%);
    z-index: 101 !important;
    width: auto !important;
    pointer-events: auto !important; /* Asegura que el clic siga funcionando */
}

/* Forzamos a que el punto activo siempre se vea */
.swiper-pagination-bullet-active-main {
    opacity: 1 !important;
    scale: 1.2;
}

/* Personalizamos los puntos y flechas al naranja de Matheo Rincón */
.swiper-pagination-bullet-active {
    background: #ff8800 !important;
}
.swiper-button-next, .swiper-button-prev {
    color: #ff8800 !important;
}

/* Permite que el contenedor de puntos crezca o se mueva según el JS */
.swiper-pagination-lock {
    display: none !important; /* Oculta la paginación si solo hay 1 slide */
}

.swiper-pagination-bullet {
    transition: all 0.3s ease-in-out; /* Suaviza el cambio de tamaño tipo Instagram */
    background: #f8f8fa !important;   /* Puntos blancos por defecto */
    opacity: 0.5;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #ff8800 !important;   /* El punto activo en tu naranja de marca */
}

.slide-link {
    text-decoration: none; /* Quita subrayados azules */
    display: block;        /* Hace que el enlace ocupe todo el slide */
    width: 100%;
    height: 100%;
    color: inherit;        /* Mantiene los colores blanco/naranja que ya definimos */
}

/* Efecto visual opcional al pulsar */
.slide-link:active {
    transform: scale(0.98); /* La foto se hunde un poquito al tocarla */
    transition: transform 0.1s;
}

/* Estilos para Celulares */
@media (max-width: 768px) {
    .header {
        /* Reducimos el alto en móvil para que la navbar sea visible rápido */
        height: 80vh; /* Bajamos un poco el alto total para que la navbar suba */
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
        padding-top: 20vh; /* Bajamos el texto un poquito del techo */
    }

    .header-content {
        /* Este es el truco maestro */
        margin-bottom: auto; 
    }

    .header-title {
        /* Bajamos el tamaño de "Matheo Rincón" */
        font-size: 2.5rem !important; 
        line-height: 1.1;
    }

    .header-mono {
        /* Bajamos el tamaño de "Candidato al Senado" */
        font-size: 1rem !important;
        letter-spacing: 2px; /* Reducimos un poco el espacio entre letras */
    }
    .swiper-button-prev { left: 10px; }
    .swiper-button-next { right: 10px; }
}

